#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

p {
  flex-basis: 100%;
}

h3 {
  font-weight: 900;
  font-size: 1.4em;
  color: #ababab;
  text-decoration: underline;
  text-underline-offset: 3px;
  flex-basis: 100%;
}

label {
  flex-basis: 100%;
}

.answer-label.selected {
   color: #73caf5; 
}
.answer-label {
  color: #b0d0d1;
}
.answer-label:hover {
  cursor: pointer;
}
.box-question {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  p {
    margin: 0 0 15px 0;
    flex-basis: 100%;
    align-content: center;
    color: #b0d0d1;
  }
}

.flex-container {
  display: flex;
  p {
    margin: 0
  }
}

.indent {
  flex-basis: 100%;
  margin-top: 5px;
  margin-left: 25px;
  &.double {
    margin-left: 40px;
  }
  &.triple {
    margin-left: 65px;
  }
}

svg .MuiSvgIcon-root  {
  color: #ffffff !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
